outdated_analysis/
analysis/exploratoryFigs/
analysis/exploration/ 
JGR_runningNetLogo/notUsed
JGR_runningNetLogo/openJGR
IS_submission_stuff
analysis/allData_IS/scrapped/
analysis/FINAL_figures_3.2.2020.Rmd
analysis/FINAL_figures_3.2.2020.html
analysis/setupLVequations.R
analysis/setupFile2.R
analysis/setupVallino.R
analysis/IS_analysis/
analysis/IS_analysis/.DS_Store
