outdated_analysis/
analysis/exploratoryFigs/
analysis/exploration/ 
JGR_runningNetLogo/notUsed
JGR_runningNetLogo/openJGR
IS_submission_stuff
analysis/allData_IS/scrapped/
analysis/IS_analysis/
analysis/distributionOfCheaters.Rmd
analysis/IS_analysis/.DS_Store
analysis/.DS_Store
analysis/.Rhistory
simulations_and_model_code/runSims
PublishedVersion*